<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.technology.university.mapper.UserEntityMapper">
  <resultMap id="BaseResultMap" type="com.technology.university.entity.UserEntity">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="nation" jdbcType="VARCHAR" property="nation" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="id_card" jdbcType="VARCHAR" property="idCard" />
    <result column="number" jdbcType="VARCHAR" property="number" />
    <result column="graduation_time" jdbcType="VARCHAR" property="graduationTime" />
    <result column="major" jdbcType="VARCHAR" property="major" />
    <result column="class_hour" jdbcType="INTEGER" property="classHour" />
    <result column="create_time" jdbcType="DATE" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, sex, nation, address, id_card, number, graduation_time, major, class_hour, 
    create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.technology.university.entity.UserEntity">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_user (name, sex, nation, 
      address, id_card, number, 
      graduation_time, major, class_hour, 
      create_time)
    values (#{name,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, #{nation,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{idCard,jdbcType=VARCHAR}, #{number,jdbcType=VARCHAR}, 
      #{graduationTime,jdbcType=VARCHAR}, #{major,jdbcType=VARCHAR}, #{classHour,jdbcType=INTEGER}, 
      #{createTime,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.technology.university.entity.UserEntity">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        name,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="nation != null">
        nation,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="idCard != null">
        id_card,
      </if>
      <if test="number != null">
        number,
      </if>
      <if test="graduationTime != null">
        graduation_time,
      </if>
      <if test="major != null">
        major,
      </if>
      <if test="classHour != null">
        class_hour,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="nation != null">
        #{nation,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="idCard != null">
        #{idCard,jdbcType=VARCHAR},
      </if>
      <if test="number != null">
        #{number,jdbcType=VARCHAR},
      </if>
      <if test="graduationTime != null">
        #{graduationTime,jdbcType=VARCHAR},
      </if>
      <if test="major != null">
        #{major,jdbcType=VARCHAR},
      </if>
      <if test="classHour != null">
        #{classHour,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.technology.university.entity.UserEntity">
    update tb_user
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="nation != null">
        nation = #{nation,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="idCard != null">
        id_card = #{idCard,jdbcType=VARCHAR},
      </if>
      <if test="number != null">
        number = #{number,jdbcType=VARCHAR},
      </if>
      <if test="graduationTime != null">
        graduation_time = #{graduationTime,jdbcType=VARCHAR},
      </if>
      <if test="major != null">
        major = #{major,jdbcType=VARCHAR},
      </if>
      <if test="classHour != null">
        class_hour = #{classHour,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=DATE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.technology.university.entity.UserEntity">
    update tb_user
    set name = #{name,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      nation = #{nation,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      id_card = #{idCard,jdbcType=VARCHAR},
      number = #{number,jdbcType=VARCHAR},
      graduation_time = #{graduationTime,jdbcType=VARCHAR},
      major = #{major,jdbcType=VARCHAR},
      class_hour = #{classHour,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=DATE}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectAllUserCount" parameterType="java.lang.String" resultType="java.lang.Integer">
    select count(1) from tb_user
    <if test="name !=null and name !=''">
      where name LIKE CONCAT('%',#{name,jdbcType=VARCHAR},'%')
    </if>
  </select>

  <select id="selectAllUser" resultMap="BaseResultMap">
    select * from tb_user
    <if test="name !=null and name !=''">
      where name LIKE CONCAT('%',#{name,jdbcType=VARCHAR},'%')
    </if>
    ORDER BY id DESC
    LIMIT #{dbIndex,jdbcType=INTEGER},#{dbNumber,jdbcType=INTEGER}
  </select>
</mapper>